body {
  margin: 0;
  background: url('../src/img/pineapple-2588302_1920.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  font-family: Montserrat;
  font-size: 1.2rem;
}
